body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

h1{
    text-align: right;
    width: 53%;
    text-decoration: underline;
    font-size: 50px;
}
p{
    font-weight: 450;
    /* text-decoration: underline; */
    line-height: 2;
}