<!-- we can use the same template multiple times in different files -->

<div style="background-color: lightblue;">
    Contact us : avinashalapati11@gmail.com <br>
    Phone :- +91 77801 39348
</div>