<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EJS Demo</title>
</head>
<body>
    <h1>This is Home Page</h1>

    <h3> <%= "Avinash Alapati" %></h3>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
     Incidunt aut sunt cupiditate ullam ex eveniet ea. Maiores, 
     earum debitis totam mollitia, in vitae ipsa quam praesentium 
     repudiandae hic porro perspiciatis!</p>

     <button>Click Me!</button>
</body>
</html>