<%- include("includes/head.ejs") %>

<body>
    <h1>This is Home Page</h1>

    <h3> <%= "Avinash Alapati" %></h3>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
     Incidunt aut sunt cupiditate ullam ex eveniet ea. Maiores, 
     earum debitis totam mollitia, in vitae ipsa quam praesentium 
     repudiandae hic porro perspiciatis!</p>

     <button>Click Me!</button>

     <%- include("includes/footer.ejs") %>
</body>
</html>